In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv(r'C:\Users\dhami\Downloads\GitHub_Capstone_Project\CTREA-Dynamics\data\model_building_dataset.csv')
data.head()

,Unnamed: 0,List Year,Date Recorded,Town,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Reason for sale,Street Number,Minimum Estimated Occupancy
0,0,2020,2021-09-13,Ansonia,150500.0,325000.0,0.4630,Commercial,Others,Not defined,230,16
1,1,2020,2020-10-02,Ashford,253000.0,430000.0,0.5883,Residential,Single Family,Not defined,390,5
2,2,2020,2021-03-09,Avon,130400.0,179900.0,0.7248,Residential,Condo,Not defined,5,1
3,3,2020,2021-04-13,Avon,619290.0,890000.0,0.6958,Residential,Single Family,Not defined,111,5
4,4,2020,2021-07-02,Avon,862330.0,1447500.0,0.5957,Residential,Single Family,Not defined,70,5

In [3]:
data.shape

(884233, 12)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884233 entries, 0 to 884232
Data columns (total 12 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   884233 non-null  int64
 1   List Year                    884233 non-null  int64
 2   Date Recorded                884233 non-null  object
 3   Town                         884233 non-null  object
 4   Assessed Value               884233 non-null  float64
 5   Sale Amount                  884233 non-null  float64
 6   Sales Ratio                  884233 non-null  float64
 7   Property Type                884233 non-null  object
 8   Residential Type             884233 non-null  object
 9   Reason for sale              884233 non-null  object
 10  Street Number                884233 non-null  int64
 11  Minimum Estimated Occupancy  884233 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 81.0+ MB