In [131]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [132]:
data = pd.read_csv(r'C:\Users\dhami\Downloads\GitHub_Capstone_Project\CTREA-Dynamics\data\model_building_dataset.csv')
data.head()

,Unnamed: 0,List Year,Date Recorded,Town,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Reason for sale,Street Number,Minimum Estimated Occupancy
0,0,2020,2021-09-13,Ansonia,150500.0,325000.0,0.4630,Commercial,Others,Not defined,230,16
1,1,2020,2020-10-02,Ashford,253000.0,430000.0,0.5883,Residential,Single Family,Not defined,390,5
2,2,2020,2021-03-09,Avon,130400.0,179900.0,0.7248,Residential,Condo,Not defined,5,1
3,3,2020,2021-04-13,Avon,619290.0,890000.0,0.6958,Residential,Single Family,Not defined,111,5
4,4,2020,2021-07-02,Avon,862330.0,1447500.0,0.5957,Residential,Single Family,Not defined,70,5

In [133]:
data.shape

(884233, 12)

In [134]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884233 entries, 0 to 884232
Data columns (total 12 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   884233 non-null  int64
 1   List Year                    884233 non-null  int64
 2   Date Recorded                884233 non-null  object
 3   Town                         884233 non-null  object
 4   Assessed Value               884233 non-null  float64
 5   Sale Amount                  884233 non-null  float64
 6   Sales Ratio                  884233 non-null  float64
 7   Property Type                884233 non-null  object
 8   Residential Type             884233 non-null  object
 9   Reason for sale              884233 non-null  object
 10  Street Number                884233 non-null  int64
 11  Minimum Estimated Occupancy  884233 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 81.0+ MB

In [135]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [136]:
data['Town'].nunique()

170

In [137]:
data['Property Type'].nunique()

12

In [138]:
data['Residential Type'].nunique()

6

In [139]:
data['Reason for sale'].nunique()

31

In [140]:
data['County'] = data['Town'].apply(lambda town: 
    'Fairfield County' if town in ['Bridgeport', 'Stamford', 'Norwalk', 'Danbury', 'Greenwich', 'Fairfield', 'Stratford', 'Shelton', 'Trumbull', 'Newtown', 'Westport', 'Ridgefield', 'Darien', 'New Canaan', 'Monroe', 'Bethel', 'Wilton', 'Brookfield', 'New Fairfield', 'Weston', 'Redding', 'Easton', 'Sherman', 'Newtown'] else
    'Hartford County' if town in ['Glastonbury', 'Avon', 'Simsbury', 'Farmington', 'Granby', 'Canton', 'West Hartford', 'Burlington', 'Marlborough', 'Suffield', 'East Granby', 'Bloomfield', 'South Windsor', 'Berlin', 'Wethersfield', 'Hartland', 'Southington', 'Rocky Hill', 'Windsor', 'Manchester', 'Newington', 'East Windsor', 'Plainville', 'Windsor Locks', 'Bristol', 'Enfield', 'East Hartford', 'New Britain', 'Hartford'] else
    'Litchfield County' if town in ['Torrington', 'New Milford', 'Watertown', 'Plymouth', 'Winchester', 'Woodbury', 'Litchfield', 'Thomaston', 'Winsted', 'New Hartford', 'Harwinton', 'Barkhamsted', 'Salisbury', 'Bethlehem', 'Washington', 'North Canaan', 'Kent', 'Goshen', 'Sharon', 'Morris', 'Roxbury', 'Bridgewater', 'Norfolk', 'Warren', 'Cornwall', 'Litchfield', 'Colebrook', 'Canaan', 'Bantam'] else
    'Middlesex County' if town in ['Middletown', 'Cromwell', 'Clinton', 'East Hampton', 'Old Saybrook', 'Portland', 'East Haddam', 'Haddam', 'Durham', 'Westbrook', 'Essex', 'Killingworth', 'Deep River', 'Middlefield', 'Chester', 'Fenwick'] else
    'New Haven County' if town in ['Woodbridge', 'Guilford', 'Madison', 'Bethany', 'Orange', 'Middlebury', 'Woodmont', 'Oxford', 'Branford', 'Cheshire', 'Prospect', 'Southbury', 'Milford', 'North Haven', 'North Branford', 'Hamden', 'Wallingford', 'Wolcott', 'Beacon Falls', 'Seymour', 'East Haven', 'Naugatuck', 'Meriden', 'Derby', 'Ansonia', 'West Haven', 'New Haven', 'Waterbury'] else
    'New London County' if town in ['Groton', 'Norwich', 'New London', 'Montville', 'Waterford', 'East Lyme', 'Stonington', 'Colchester', 'Ledyard', 'Griswold', 'Old Lyme', 'Lebanon', 'North Stonington', 'Preston', 'Lisbon', 'Salem', 'Jewett City', 'Sprague', 'Bozrah', 'Voluntown', 'Lyme', 'Franklin', 'Stonington'] else
    'Tolland County' if town in ['Bolton', 'Tolland', 'Hebron', 'Andover', 'Ellington', 'Columbia', 'Somers', 'Coventry', 'Vernon', 'Union', 'Willington', 'Stafford', 'Mansfield'] else
    'Windham County' if town in ['Eastford', 'Woodstock', 'Hampton', 'Pomfret', 'Ashford', 'Chaplin', 'Canterbury', 'Scotland', 'Thompson', 'Putnam', 'Sterling', 'Killingly', 'Brooklyn', 'Plainfield', 'Danielson', 'Windham'] else
    'Other'
)

# Drop the original 'Reason for sale' column
data.drop('Town', axis=1, inplace=True)

# Print the DataFrame with the new 'County' column
print(data.head())

   List Year Date Recorded  Assessed Value  Sale Amount  Sales Ratio  \
0       2020    2021-09-13        150500.0     325000.0       0.4630
1       2020    2020-10-02        253000.0     430000.0       0.5883
2       2020    2021-03-09        130400.0     179900.0       0.7248
3       2020    2021-04-13        619290.0     890000.0       0.6958
4       2020    2021-07-02        862330.0    1447500.0       0.5957

  Property Type Residential Type Reason for sale  Street Number  \
0    Commercial           Others     Not defined            230
1   Residential    Single Family     Not defined            390
2   Residential            Condo     Not defined              5
3   Residential    Single Family     Not defined            111
4   Residential    Single Family     Not defined             70

   Minimum Estimated Occupancy            County
0                           16  New Haven County
1                            5    Windham County
2                            1   Hartford County
3                            5   Hartford County
4                            5   Hartford County

In [141]:
data['County'].unique()

array(['New Haven County', 'Windham County', 'Hartford County',
       'Fairfield County', 'Litchfield County', 'Middlesex County',
       'New London County', 'Tolland County', 'Other'], dtype=object)

In [142]:
data['County'].value_counts()

County
Fairfield County     231510
Hartford County      223497
New Haven County     199658
New London County     68373
Litchfield County     51752
Middlesex County      46401
Tolland County        34545
Windham County        28496
Other                     1
Name: count, dtype: int64

In [143]:
data['Reason for sale'].unique()

array(['Not defined', ' Foreclosure', ' Other', ' Family',
       ' Change in Property', ' Plottage', ' Use Assessment', ' Tax',
       ' In Lieu Of Foreclosure', ' Two Towns', ' A Will',
       ' Portion of Property', ' Part Interest', ' Government Agency',
       ' Charitable Group', ' Court Order', ' Rehabilitation Deferred',
       ' Inter Corporation', ' Money and Personal Property',
       ' Non Buildable Lot', ' Correcting Deed', ' Deed Date',
       ' CRUMBLING FOUNDATION ASSESSMENT REDUCTION', ' Bankrupcy',
       ' Auction', ' Love and Affection', ' Personal Property Exchange',
       ' Zoning', ' Easement', ' Cemetery', ' No Consideration'],
      dtype=object)

In [144]:
data['Reason for sale'] = data['Reason for sale'].str.strip()

In [145]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Assuming your DataFrame is named 'data'
reason_mapping = {
    'Not defined': 'Uncategorized',
    ' Foreclosure': 'Financial Distress',
    'Other': 'Other',
    'Family': 'Personal Reasons',
    'Change in Property': 'Property Change',
    'Plottage': 'Property Development',
    'Use Assessment': 'Assessment Change',
    'Tax': 'Financial Reasons',
    'In Lieu Of Foreclosure': 'Financial Distress',
    'Two Towns': 'Other',
    'A Will': 'Inheritance',
    'Portion of Property': 'Property Division',
    'Part Interest': 'Property Division',
    'Government Agency': 'Government Intervention',
    'Charitable Group': 'Charitable Donation',
    'Court Order': 'Legal Reasons',
    'Rehabilitation Deferred': 'Property Development',
    'Inter Corporation': 'Corporate Transaction',
    'Money and Personal Property': 'Financial Reasons',
    'Non Buildable Lot': 'Property Development',
    'Correcting Deed': 'Administrative Correction',
    'Deed Date': 'Administrative Correction',
    'CRUMBLING FOUNDATION ASSESSMENT REDUCTION': 'Property Assessment',
    'Bankruptcy': 'Financial Distress',
    'Auction': 'Financial Reasons',
    'Love and Affection': 'Personal Reasons',
    'Personal Property Exchange': 'Property Exchange',
    'Zoning': 'Government Intervention',
    'Easement': 'Property Development',
    'Cemetery': 'Property Development',
    'No Consideration': 'Uncategorized'
}

# Reduce to 8 categories
reduced_mapping = {
    'Uncategorized': 'Other',
    'Financial Distress': 'Financial Reasons & Distress',
    'Other': 'Other',
    'Personal Reasons': 'Other',
    'Property Change': 'Property Change & Development',
    'Property Development': 'Property Change & Development',
    'Assessment Change': 'Financial Reasons & Distress',
    'Financial Reasons': 'Financial Reasons & Distress',
    'Inheritance': 'Property Change & Developmente',
    'Property Division': 'Property Change & Development'
}

data['Reason Category'] = data['Reason for sale'].map(reason_mapping)

# Apply the reduced mapping
data['Reason Category'] = data['Reason Category'].map(reduced_mapping)


# Drop the original 'Reason for sale' column
data.drop('Reason for sale', axis=1, inplace=True)

# Print the DataFrame with the new 'Reason Category' column
print(data)

        List Year Date Recorded  Assessed Value  Sale Amount  Sales Ratio  \
0            2020    2021-09-13        150500.0     325000.0     0.463000
1            2020    2020-10-02        253000.0     430000.0     0.588300
2            2020    2021-03-09        130400.0     179900.0     0.724800
3            2020    2021-04-13        619290.0     890000.0     0.695800
4            2020    2021-07-02        862330.0    1447500.0     0.595700
...           ...           ...             ...          ...          ...
884228       2019    2020-06-24         60410.0      53100.0     1.137665
884229       2019    2019-11-27         68280.0      76000.0     0.898400
884230       2019    2020-04-27        121450.0     210000.0     0.578300
884231       2019    2020-06-03        203360.0     280000.0     0.726300
884232       2019    2019-12-20       4035970.0    7450000.0     0.541700

        Property Type Residential Type  Street Number  \
0          Commercial           Others            230
1         Residential    Single Family            390
2         Residential            Condo              5
3         Residential    Single Family            111
4         Residential    Single Family             70
...               ...              ...            ...
884228  Single Family    Single Family              4
884229  Single Family    Single Family            126
884230  Single Family    Single Family             19
884231  Single Family    Single Family              8
884232  Miscellaneous           Others            250

        Minimum Estimated Occupancy             County Reason Category
0                                16   New Haven County           Other
1                                 5     Windham County           Other
2                                 1    Hartford County           Other
3                                 5    Hartford County           Other
4                                 5    Hartford County           Other
...                             ...                ...             ...
884228                            5  New London County             NaN
884229                            5   New Haven County           Other
884230                            5    Hartford County           Other
884231                            5   Middlesex County           Other
884232                           16   New Haven County           Other

[884233 rows x 11 columns]

In [146]:
data['Reason Category'].nunique()

4

In [147]:
data.head()

,List Year,Date Recorded,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Street Number,Minimum Estimated Occupancy,County,Reason Category
0,2020,2021-09-13,150500.0,325000.0,0.4630,Commercial,Others,230,16,New Haven County,Other
1,2020,2020-10-02,253000.0,430000.0,0.5883,Residential,Single Family,390,5,Windham County,Other
2,2020,2021-03-09,130400.0,179900.0,0.7248,Residential,Condo,5,1,Hartford County,Other
3,2020,2021-04-13,619290.0,890000.0,0.6958,Residential,Single Family,111,5,Hartford County,Other
4,2020,2021-07-02,862330.0,1447500.0,0.5957,Residential,Single Family,70,5,Hartford County,Other

In [148]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884233 entries, 0 to 884232
Data columns (total 11 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   List Year                    884233 non-null  int64
 1   Date Recorded                884233 non-null  object
 2   Assessed Value               884233 non-null  float64
 3   Sale Amount                  884233 non-null  float64
 4   Sales Ratio                  884233 non-null  float64
 5   Property Type                884233 non-null  object
 6   Residential Type             884233 non-null  object
 7   Street Number                884233 non-null  int64
 8   Minimum Estimated Occupancy  884233 non-null  int64
 9   County                       884233 non-null  object
 10  Reason Category              843753 non-null  object
dtypes: float64(3), int64(3), object(5)
memory usage: 74.2+ MB

In [149]:
data.head()

,List Year,Date Recorded,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Street Number,Minimum Estimated Occupancy,County,Reason Category
0,2020,2021-09-13,150500.0,325000.0,0.4630,Commercial,Others,230,16,New Haven County,Other
1,2020,2020-10-02,253000.0,430000.0,0.5883,Residential,Single Family,390,5,Windham County,Other
2,2020,2021-03-09,130400.0,179900.0,0.7248,Residential,Condo,5,1,Hartford County,Other
3,2020,2021-04-13,619290.0,890000.0,0.6958,Residential,Single Family,111,5,Hartford County,Other
4,2020,2021-07-02,862330.0,1447500.0,0.5957,Residential,Single Family,70,5,Hartford County,Other

In [150]:
data['year'] = pd.to_datetime(data['Date Recorded']).dt.year
data['month'] = pd.to_datetime(data['Date Recorded']).dt.month
data['day'] = pd.to_datetime(data['Date Recorded']).dt.day
data.drop('Date Recorded', axis=1, inplace=True)
data.head()

,List Year,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Street Number,Minimum Estimated Occupancy,County,Reason Category,year,month,day
0,2020,150500.0,325000.0,0.4630,Commercial,Others,230,16,New Haven County,Other,2021,9,13
1,2020,253000.0,430000.0,0.5883,Residential,Single Family,390,5,Windham County,Other,2020,10,2
2,2020,130400.0,179900.0,0.7248,Residential,Condo,5,1,Hartford County,Other,2021,3,9
3,2020,619290.0,890000.0,0.6958,Residential,Single Family,111,5,Hartford County,Other,2021,4,13
4,2020,862330.0,1447500.0,0.5957,Residential,Single Family,70,5,Hartford County,Other,2021,7,2

In [151]:
data.drop('Residential Type', axis=1, inplace=True)
#already min est occupany is extension of residential type

In [152]:
data.head()

,List Year,Assessed Value,Sale Amount,Sales Ratio,Property Type,Street Number,Minimum Estimated Occupancy,County,Reason Category,year,month,day
0,2020,150500.0,325000.0,0.4630,Commercial,230,16,New Haven County,Other,2021,9,13
1,2020,253000.0,430000.0,0.5883,Residential,390,5,Windham County,Other,2020,10,2
2,2020,130400.0,179900.0,0.7248,Residential,5,1,Hartford County,Other,2021,3,9
3,2020,619290.0,890000.0,0.6958,Residential,111,5,Hartford County,Other,2021,4,13
4,2020,862330.0,1447500.0,0.5957,Residential,70,5,Hartford County,Other,2021,7,2

In [153]:
# List of columns to one-hot encode
columns_to_one_hot_encode = ['Property Type', 'County', 'Reason Category']

# Apply one-hot encoding
data_encoded = pd.get_dummies(data, columns=columns_to_one_hot_encode, drop_first=True)

data_encoded.head()

,List Year,Assessed Value,Sale Amount,Sales Ratio,Street Number,Minimum Estimated Occupancy,year,month,day,Property Type_Commercial,...,County_Litchfield County,County_Middlesex County,County_New Haven County,County_New London County,County_Other,County_Tolland County,County_Windham County,Reason Category_Other,Reason Category_Property Change & Development,Reason Category_Property Change & Developmente
0,2020,150500.0,325000.0,0.4630,230,16,2021,9,13,True,...,False,False,True,False,False,False,False,True,False,False
1,2020,253000.0,430000.0,0.5883,390,5,2020,10,2,False,...,False,False,False,False,False,False,True,True,False,False
2,2020,130400.0,179900.0,0.7248,5,1,2021,3,9,False,...,False,False,False,False,False,False,False,True,False,False
3,2020,619290.0,890000.0,0.6958,111,5,2021,4,13,False,...,False,False,False,False,False,False,False,True,False,False
4,2020,862330.0,1447500.0,0.5957,70,5,2021,7,2,False,...,False,False,False,False,False,False,False,True,False,False

In [154]:
# Convert boolean values to integers (1 and 0)
data_encoded = data_encoded.astype(int)

In [155]:
data_encoded.head()

,List Year,Assessed Value,Sale Amount,Sales Ratio,Street Number,Minimum Estimated Occupancy,year,month,day,Property Type_Commercial,...,County_Litchfield County,County_Middlesex County,County_New Haven County,County_New London County,County_Other,County_Tolland County,County_Windham County,Reason Category_Other,Reason Category_Property Change & Development,Reason Category_Property Change & Developmente
0,2020,150500,325000,0,230,16,2021,9,13,1,...,0,0,1,0,0,0,0,1,0,0
1,2020,253000,430000,0,390,5,2020,10,2,0,...,0,0,0,0,0,0,1,1,0,0
2,2020,130400,179900,0,5,1,2021,3,9,0,...,0,0,0,0,0,0,0,1,0,0
3,2020,619290,890000,0,111,5,2021,4,13,0,...,0,0,0,0,0,0,0,1,0,0
4,2020,862330,1447500,0,70,5,2021,7,2,0,...,0,0,0,0,0,0,0,1,0,0

In [156]:
data_encoded.to_csv('ML_Dataset.csv')